body {
    /* background-color: rgb(0, 0, 0); */
    background-color:  rgb(0, 0, 0);
}
.header{
    text-align: center;
    font-size: 30px;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 15px 20px;
    justify-content: center;

}

.img {
    /* height: 300px; */
    border: 6px solid rgb(0, 46, 253);
   
    color: rgb(255, 25, 0);
}

.a1 {
    background-image: url(https://source.unsplash.com/random/?forest,tree/);
    background-size: cover;
}

.a2 {
    background-image: url(https://source.unsplash.com/random/?bitcoin,trade/);
    background-size: cover;
}

.a3 {
    background-image: url(https://source.unsplash.com/random/?superbike/);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/3;
    /* width: 750px; */
}

.a4 {
    background-image: url(https://source.unsplash.com/random/?wind/);
    background-size: cover;
}

.a6 {
    background-image: url(https://source.unsplash.com/random/bird/);
    background-size: cover;

}

.a7 {
    background-image: url(https://source.unsplash.com/random/nature/);
    background-size: cover;
    grid-column: 1/3;
    grid-row: 3/5;
    /* width: 720px; */
}

.a8 {
    background-image: url(https://source.unsplash.com/random/daylightt/);
    background-size: cover;
    /* width: 750px; */
    height: 300px;
}

.a9 {
    background-image: url(https://source.unsplash.com/random/streetview/);
    background-size: cover;
    /* width: 750px; */
    /* gave width cz colum not working */
    height: 300px;
}

.a10 {
    background-image: url(https://source.unsplash.com/random/landscape/);
    background-size: initial;
    /* width: 1500px; */
    grid-column: 1/4;
    height: 300px;
}

@media (max-width: 700px){

    .wrap{
        display: flex;

        flex-wrap: wrap;
       
    }
    .img{
        height: 300px;
        width: 300px;
    }




}



/* .a11 {


    height: 300px;

}

.a12 {
    its not coing beside 10
    width: 250px;
    height: 300px;
}

.a13 {
    height: 300px;
} */
